.ticket-create-form{
    padding-bottom: 2rem !important;
    padding-top: 1rem !important;
    margin-top: 2rem;
    h5{
        margin-bottom: 1.5rem;
    }

    .input-field{
        margin-bottom: 1.5rem !important;
    }

    .btn{
        margin-top: 1rem;
    }
}
