.ticket-create-form{
    padding-bottom: 2rem !important;
    padding-top: 1rem !important;
    margin-top: 2rem;
    h5{
        margin-bottom: 1.5rem;
    }

    .input-field{
        margin-bottom: 1.5rem !important;
    }

    .btn{
        margin-top: 1rem;
    }

    .errors-container {
        color: #e53935;

        p {
            padding: 0;
            margin: 0;
            margin-top: .5rem;
        }

        ul {
            margin: 0;
            margin-top: .5rem;
            list-style: none;

            li {
                font-size: .85rem;
            }
        }
    }

    .success-alert {
        padding: .65rem;
        border-radius: 3px;
        background-color: rgba(174, 213, 129, .5);
        text-align: center;
    }
}
